<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Rock, Paper, Scissors</title>
</head>
<body>
<h1>Rock Paper Scissors!</h1>
<p>To play the game after rock_paper_scissors in the address bar type your first hand choice / your second hand choice. e.g. rock_paper_scissors/rock/paper and see what happens!</p>
</body>
</html>